In [1]:
import pandas as pd
import datetime

In [ ]:
df_record = pd.read_csv("s3://applehealthdashboard/etl/extract/exportRecord.csv")
df_workout = pd.read_csv("s3://applehealthdashboard/etl/extract/exportWorkout.csv")
df_summary = pd.read_csv("s3://applehealthdashboard/etl/extract/exportActivitySummary.csv")

In [2]:
fact_table = pd.read_csv("/Users/ericcollins/healthdashboard_data/etl/transform/fact_table.csv.gz", compression="gzip")
summary_table = pd.read_csv("/Users/ericcollins/healthdashboard_data/etl/transform/summary_table.csv.gz", compression="gzip")

/var/folders/23/bwtd0x3j2qjf60tdmj7g56400000gn/T/ipykernel_1698/1809403198.py:1: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  fact_table = pd.read_csv("/Users/ericcollins/healthdashboard_data/etl/transform/fact_table.csv.gz", compression="gzip")

In [3]:
summary_table

,creation_date,active_energy_burned,active_energy_burned_goal,active_energy_burned_unit,move_time,move_time_goal,exercise_minutes,exercise_minutes_goal,stand_hours,stand_hours_goal,username
0,1969-12-30,0.000,0,Cal,0,0,0,30,0,12,eric
1,1969-12-31,0.000,0,Cal,0,0,0,30,0,12,eric
2,2022-02-21,0.000,0,Cal,0,0,0,30,0,12,eric
3,2022-02-22,0.000,0,Cal,0,0,0,30,0,12,eric
4,2022-07-03,0.000,0,Cal,0,0,0,30,0,12,eric
...,...,...,...,...,...,...,...,...,...,...,...
622,2024-03-12,663.039,650,Cal,0,0,58,30,10,12,eric
623,2024-03-13,690.031,650,Cal,0,0,78,30,13,12,eric
624,2024-03-14,427.944,650,Cal,0,0,58,30,9,12,eric
625,2024-03-15,442.812,650,Cal,0,0,27,30,10,12,eric
626,2024-03-16,456.069,650,Cal,0,0,45,30,10,12,eric